$white_c: #fff;
$teal_c: #17d1c6;
$red_c: #e42902;
$black_c: #2b2b2b;
$font: "MuseoSansCyrl";
$maxWidth: 1390px;
$transition: all 0.2s linear;

.container, .page-title {
    width: 100%;
    max-width: 1682px;
    padding: 0 30px;
    margin: 0 auto;

    @include mq(576) {
        padding: 0 15px;
    }
}

