<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="col-footer">
                <div class="col-footer__title">Information</div>
                <div class="col-footer__content">
                    <a href="#">About us</a>
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title"></div>
                <div class="col-footer__content">
                    <a href="#">About us</a>
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title"></div>
                <div class="col-footer__content">
                    <a href="#">About us</a>
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title">Contacts</div>
                <div class="col-footer__content">
                    
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title">Legal</div>
                <div class="col-footer__content">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>