<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="col-footer">
                <div class="col-footer__title"><span>Information</span></div>
                <div class="col-footer__content">
                    <a href="#">About us</a>
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title"><span>Products</span></div>
                <div class="col-footer__content">
                    <a href="#">About us</a>
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title"></div>
                <div class="col-footer__content">
                    <a href="#">Денситомеры</a>
                    <a href="#">Цроволокошвейные и степлирующие головки</a>
                    <a href="#">Payment</a>
                    <a href="#">Contacts</a>
                </div>
            </div>
            <div class="col-footer">
                <div class="col-footer__title"><span>Contacts</span></div>
                <div class="col-footer__content">
                    <a href="#" class="col-footer__phone">+49 234 37988408</a>
                    <a href="#">info@printing-parts.com</a>
                    <a href="#" class="col-footer__phone _wapp">+49 234 37988408</a>
                </div>
            </div>
            <div class="col-footer _last">
                <div class="col-footer__title"><span>Legal</span></div>
                <div class="col-footer__content">
                    <p>Copyright 2024 Printing-parts</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</footer>