<header class="header">
    <div class="header__top">
        <div class="container">

        </div>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="header-menu-link _expand _catalog">
                <span>Каталог</span>
                @@include('./menu_1.html')
            </div>
            <div class="header-menu-link _expand">
                <span>Запчасти</span>
                @@include('./menu_1.html')
            </div>
            <div class="header-menu-link _expand">
                <span>Расходные материалы</span>
                @@include('./menu_1.html')
            </div>
            <div class="header-menu-link _expand">
                <span>Аксессуары</span>
                @@include('./menu_1.html')
            </div>
            <div class="header-menu-link _expand">
                <span>Оборудование</span>
                @@include('./menu_1.html')
            </div>
            <a href="#" class="header-menu-link _expand">
                <span>Денситометры</span>
            </a>
            <a href="#" class="header-menu-link _expand">
                <span>Проволокошвейные и степлирующие головки</span>
            </a>
            <div class="header-menu-link _expand">
                <span>Резаки IDEAL</span>
                @@include('./menu_1.html')
            </div>
            <a href="#" class="header-menu-link _expand">
                <span>Разное</span>
            </a>
        </div>
    </div>
</header>