<div class="hidden-menu">
    <div class="hidden-menu__list">
        <ul>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Запчасти</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Расходные материалы</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Аксессуары</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Оборудование</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Запчасти</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Расходные материалы</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Аксессуары</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="hidden-menu__item">
                    <a href="#">Оборудование</a>
                    <div class="hidden-menu__sublist">
                        <ul>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Валы для печатных машин</a>
                            </li>
                            <li>
                                <a href="#" class="hidden-menu__subitem">Офсетная резина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="hidden-menu__bckg"></div>
</div>